@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {

    font-family: "Inter", sans-serif;

    background:
        radial-gradient(circle at top right, #4f46e510, transparent 30%),
        radial-gradient(circle at bottom left, #06b6d410, transparent 35%),
        #070B14;

    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {

    background: #3b82f6;

    border-radius: 20px;

}

::-webkit-scrollbar-track {

    background: #111827;

}